---
server:
  port: 8088
---
spring:
  profiles: default
  cloud:
    gateway:
      routes:
        - id: order
          uri: 'http://order:8080'
          predicates:
            - Path=/orders/**
        - id: inventory
          uri: 'http://inventory:8080'
          predicates:
            - Path=/inventories/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - '*'
            allowedMethods:
              - '*'
            allowedHeaders:
              - '*'
            allowCredentials: true
---
spring:
  profiles: docker
  cloud:
    gateway:
      routes:
        - id: order
          uri: 'http://order:8080'
          predicates:
            - Path=/orders/**
        - id: inventory
          uri: 'http://inventory:8080'
          predicates:
            - Path=/inventories/**
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - '*'
            allowedMethods:
              - '*'
            allowedHeaders:
              - '*'
            allowCredentials: true
server:
  port: 8088
